<style>
  @font-face {
    font-family: 'Source Serif 4';
    src: url('{{ "fonts/source-serif4/SourceSerif4-Regular.ttf.woff" | absURL }}') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Serif 4';
    src: url('{{ "fonts/source-serif4/SourceSerif4-Bold.ttf.woff" | absURL }}') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Serif 4';
    src: url('{{ "fonts/source-serif4/SourceSerif4-It.ttf.woff" | absURL }}') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Source Serif 4';
    src: url('{{ "fonts/source-serif4/SourceSerif4-BoldIt.ttf.woff" | absURL }}') format('woff');
    font-weight: 700;
    font-style: italic;
  }
</style>