<style>
  /******************************************** Serif ********************************************/
  @font-face {
    font-family: 'Libertinus Serif';
    src: url('{{ "fonts/Libertinus-Serif/LibertinusSerif-Regular.woff2" | absURL }}') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Libertinus Serif';
    src: url('{{ "fonts/Libertinus-Serif/LibertinusSerif-Bold.woff2" | absURL }}') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Libertinus Serif';
    src: url('{{ "fonts/Libertinus-Serif/LibertinusSerif-Italic.woff2" | absURL }}') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Libertinus Serif';
    src: url('{{ "fonts/Libertinus-Serif/LibertinusSerif-BoldItalic.woff2" | absURL }}') format('woff');
    font-weight: 700;
    font-style: italic;
  }

  /******************************************** Sans ********************************************/
  @font-face {
    font-family: 'Libertinus Sans';
    src: url('{{ "fonts/Libertinus-Sans/LibertinusSans-Regular.woff2" | absURL }}') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Libertinus Sans';
    src: url('{{ "fonts/Libertinus-Sans/LibertinusSans-Bold.woff2" | absURL }}') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Libertinus Sans';
    src: url('{{ "fonts/Libertinus-Sans/LibertinusSans-Italic.woff2" | absURL }}') format('woff');
    font-weight: 400;
    font-style: italic;
  }
</style>