<style>
  /******************************************** Sans ********************************************/
  @font-face {
    font-family: 'Skeena Indigenous';
    src: url('{{ "fonts/Skeena-Indigenous/SkeenaIndigenous-Regular.woff2" | absURL }}') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Skeena Indigenous';
    src: url('{{ "fonts/Skeena-Indigenous/SkeenaIndigenous-Bold.woff2" | absURL }}') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Skeena Indigenous';
    src: url('{{ "fonts/Skeena-Indigenous/SkeenaIndigenous-Italic.woff2" | absURL }}') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Skeena Indigenous';
    src: url('{{ "fonts/Skeena-Indigenous/SkeenaIndigenous-BoldItalic.woff2" | absURL }}') format('woff');
    font-weight: 700;
    font-style: italic;
  }
</style>